.divMta3lesProduit {
  transition: all 300ms;
  transform: scale(1);
}

.divMta3lesProduit:hover {
  transform: scale(1.035);
  background-color: #fff7d6;
}

.divMta3lesProduit:hover .divtextmta3lesproduit {
  color: rgba(
    0,
    126,
    127,
    0.75
  ) !important; /* Change the text color on hover */
}
