/* Style lel card elli t'affichi les achat ajouter */
.divMta3lesProduit {
  transition: all 300ms;
  transform: scale(1);
}

.divMta3lesProduit:hover {
  transform: scale(1.035);
  background-color: #fff7d6;
}

.divMta3lesProduit:hover .divtextmta3lesproduit {
  color: rgba(0, 126, 127, 0.75) !important;
}

/* Style lel bouton login */
.BTN-LOGIN {
  margin-top: 10px;
  border: 0;
  background-color: #005166;
  color: #fff7d6;
  font-size: 20px;
  margin-left: 305px;
  transition: all 300ms;
  transform: scale(1);
}
.BTN-LOGIN:hover {
  background-color: #24ac82;
  transform: scale(1.035);
}

/* Style lel les boutons el kol */
.BTN {
  margin-top: 10px;
  border: 0;
  background-color: #005166;
  color: #fff7d6;
  font-size: 20px;
  transition: all 600ms;
  transform: scale(1);
}
.BTN:hover {
  background-color: #24ac82;
  transform: scale(1.035);
}

/* Style lel les boutons BTN-CHQTPE */
.BTN-CHQTPE {
  margin-top: 1px;
  margin-left: -20px;
  border: 0;
  background-color: #005166;
  color: #fff7d6;
  font-size: 20px;
  transition: all 600ms;
  transform: scale(1);
}
.BTN-CHQTPE:hover {
  background-color: #24ac82;
  transform: scale(1.035);
}

.Card {
  transition: all 500ms;
  transform: scale(1);
}
.Card:hover {
  transform: scale(1.03);
}

/* NAVBAR STYLE */
.NavBar-BackGround {
  background-color: hwb(204 1% 80%);
  width: 5px;
}
#navbar-text {
  color: #ddcc89;
  font-family: "Courier New";
}
#navbar-text:hover {
  transition: all 500ms;
  color: hwb(41 21% 27%) !important;
  /* background-color:hsla(205, 94%, 6%, 0);*/
  transform: scale(1.3);
}
#navbBar {
  width: 101%;
}

.hover-effect:hover {
  transition: all 500ms;
  color: hwb(41 21% 27%) !important;
  /*background-color: hsla(205, 94%, 6%, 0);*/
  transform: scale(1.3);
}
